* {
  font-family: "Abel", sans-serif;
}
.calculator {
  margin-top: 30px;
  margin-left: 70px;
  width: 300px;
  height: 520px;
  background-color: #dfcaaa;
  display: inline-block;
  position: relative;
}
.header-section {
  width: 300px;
  height: 104px;
  background-color: #f08031;
  text-align: right;
  /* padding-top: 30; */
}
.screen {
  width: 300px;
  height: 104px;
  /* color: #0f6b57; */
  color: #10aea6;
  background-color: #121116;
}
.buttons {
  width: 300px;
  height: 312px;
  display: inline-block;
}

.buttons div {
  background-color: #8a8b8c;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  /* display: inline-block; */
  border-radius: 50%;
  text-align: center;
  color: white;
}
